@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('font-files/Inter-Thin.woff2?v=3.19') format('woff2'),
    url('font-files/Inter-Thin.woff?v=3.19') format('woff');
}

$breakpoint-tablet: 900px;

body {
  background-color: #e4e7eb;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';

  h3 {
    color: #323946;
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    color: #a4a9b2;
    line-height: 1.5;
    margin: 0rem;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 3);
  background-color: #fff;
  margin: 4rem;
  border-radius: 10px;
  box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.23);

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
  }
}

.item {
  padding: 2.5rem;
  border: 1px solid #e4e7eb;

  .icons {
    display: flex;

    justify-content: space-between;

    .arrow {
      width: 3rem;
      transform: rotate(45deg);
    }

    .cake {
      width: 2rem;
      padding: 1rem;
      border-radius: 10px;
      background: pink;
    }

    .smile {
      width: 2rem;
      padding: 1rem;
      border-radius: 10px;
      background: #fefbeb;
    }

    .heart {
      width: 2rem;
      padding: 1rem;
      border-radius: 10px;
      background: #f5f2ff;
    }

    .pencil {
      width: 2rem;
      padding: 1rem;
      border-radius: 10px;
      background: #f0f9fe;
    }
  }
}
